In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/National_Stock_Exchange_of_India_Ltd (2).csv',index_col='Symbol')
df.head()

                 Open       High  ... 365 d % chng 30 d % chng
Symbol                            ...
ADANIPORTS        750        766  ...        79.22       -4.65
ASIANPAINT   3,101.00   3,167.35  ...        45.66        5.66
AXISBANK          669      674.9  ...        10.19      -21.49
BAJAJ-AUTO   3,370.00   3,383.50  ...         9.30      -12.05
BAJAJFINSV  17,200.00  17,237.20  ...        91.38       -9.10

[5 rows x 12 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, ADANIPORTS to WIPRO
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Open             50 non-null     object
 1   High             50 non-null     object
 2   Low              50 non-null     object
 3   LTP              50 non-null     object
 4   Chng             50 non-null     float64
 5   % Chng           50 non-null     float64
 6   Volume (lacs)    50 non-null     float64
 7   Turnover (crs.)  50 non-null     object
 8   52w H            50 non-null     object
 9   52w L            50 non-null     object
 10  365 d % chng     50 non-null     float64
 11  30 d % chng      50 non-null     float64
dtypes: float64(5), object(7)
memory usage: 5.1+ KB

In [ ]:
df.duplicated().sum()

0

***In this dataset there is no duplicates.however we will append duplicates to know the commands.***

In [ ]:
append_dupl = df.append(df)
append_dupl
append_dupl.shape

(100, 12)

In [ ]:
append_dupl.drop_duplicates(inplace=True,keep=False)
append_dupl.shape

(0, 12)

# *The name of column can be modified by .rename.But .dict is onlyhelpful to do it*

In [ ]:
df.rename(columns={
    'Symbol':'Company_Name'
    
},inplace= True)
df.columns

Index(['Open', 'High', 'Low', 'LTP', 'Chng', '% Chng', 'Volume (lacs)',
       'Turnover (crs.)', '52w H', '52w L', '365 d % chng', '30 d % chng'],
      dtype='object')

In [ ]:
#df.columns= [col.lower() for col in df]
df.columns

Index(['Open', 'High', 'Low', 'LTP', 'Chng', '% Chng', 'Volume (lacs)',
       'Turnover (crs.)', '52w H', '52w L', '365 d % chng', '30 d % chng'],
      dtype='object')

In [ ]:
#df.dropna(axis = 1).head()

In [ ]:
revenue = df['Turnover (crs.)']
revenue.head()

Symbol
ADANIPORTS    532.63
ASIANPAINT    322.53
AXISBANK         684
BAJAJ-AUTO    114.59
BAJAJFINSV    576.79
Name: Turnover (crs.), dtype: object

In [ ]:
revenue_mean = revenue.mode()
revenue_mean.head()

0    1,161.63
1    1,200.79
2    1,249.55
3    1,380.90
4    1,385.86
dtype: object

In [ ]:
df.describe().head()

             Chng     % Chng  Volume (lacs)  365 d % chng  30 d % chng
count   50.000000  50.000000      50.000000     50.000000    50.000000
mean   -70.133000  -2.930200      71.266600     41.203000    -5.996800
std    163.203678   2.677007      93.462062     37.358646     6.322546
min   -770.500000  -7.480000       0.300000    -16.020000   -22.080000
25%    -66.775000  -4.527500      13.472500      9.375000    -9.665000

In [ ]:
df['Volume (lacs)'].describe()

count     50.000000
mean      71.266600
std       93.462062
min        0.300000
25%       13.472500
50%       30.750000
75%       99.200000
max      517.880000
Name: Volume (lacs), dtype: float64

In [ ]:
df['Volume (lacs)'].value_counts().head()

3.42      2
517.88    1
16.89     1
189.88    1
15.22     1
Name: Volume (lacs), dtype: int64

In [ ]:
df.corr()

                   Chng    % Chng  Volume (lacs)  365 d % chng  30 d % chng
Chng           1.000000  0.314513       0.208215     -0.038896     0.149898
% Chng         0.314513  1.000000      -0.273596     -0.393705     0.560149
Volume (lacs)  0.208215 -0.273596       1.000000      0.490092    -0.245722
365 d % chng  -0.038896 -0.393705       0.490092      1.000000    -0.083572
30 d % chng    0.149898  0.560149      -0.245722     -0.083572     1.000000

In [ ]:
#df[['Company_Name','High','52w H']].head()

In [ ]:
df.loc['ADANIPORTS']

Open                  750
High                  766
Low                713.25
LTP                   715
Chng               -47.45
% Chng              -6.22
Volume (lacs)        72.2
Turnover (crs.)    532.63
52w H                 901
52w L               384.4
365 d % chng        79.22
30 d % chng         -4.65
Name: ADANIPORTS, dtype: object

In [ ]:
df.iloc[1]

Open               3,101.00
High               3,167.35
Low                3,091.00
LTP                3,138.00
Chng                  -6.25
% Chng                 -0.2
Volume (lacs)         10.29
Turnover (crs.)      322.53
52w H              3,505.00
52w L              2,117.15
365 d % chng          45.66
30 d % chng            5.66
Name: ASIANPAINT, dtype: object

In [ ]:
df[df['365 d % chng'] >= 80.0].head()

                 Open       High  ... 365 d % chng 30 d % chng
Symbol                            ...
BAJAJFINSV  17,200.00  17,237.20  ...        91.38       -9.10
GRASIM       1,757.30   1,757.85  ...        99.95       -3.08
HINDALCO        441.8      442.7  ...        86.93      -14.06
JSWSTEEL       668.25     672.55  ...        86.25       -9.27
ONGC           152.25     152.25  ...        82.86       -9.41

[5 rows x 12 columns]

In [ ]:
df[(df['365 d % chng'] >=90) | (df['30 d % chng'] >=-5.0)].head()

                 Open       High  ... 365 d % chng 30 d % chng
Symbol                            ...
ADANIPORTS        750        766  ...        79.22       -4.65
ASIANPAINT   3,101.00   3,167.35  ...        45.66        5.66
BAJAJFINSV  17,200.00  17,237.20  ...        91.38       -9.10
BHARTIARTL        763        763  ...        58.55        5.70
BRITANNIA    3,560.00   3,635.10  ...         0.30       -3.42

[5 rows x 12 columns]

In [ ]:
df[
   ((df['365 d % chng'] <= 80) & (df['365 d % chng'] >=50))
   & (df['30 d % chng'] <= 20) & (df['30 d % chng'] >= -5)
  
].head()

                Open      High       Low  ...     52w L  365 d % chng  30 d % chng
Symbol                                    ...
ADANIPORTS       750       766    713.25  ...     384.4         79.22        -4.65
BHARTIARTL       763       763     733.1  ...    454.11         58.55         5.70
INFY        1,702.55  1,718.35  1,684.00  ...  1,091.00         51.44        -0.83
LT          1,820.00  1,841.75  1,768.60  ...  1,092.00         59.59        -0.85
TECHM       1,544.00  1,550.00  1,510.15  ...     846.7         76.17        -2.83

[5 rows x 12 columns]

In [ ]:
def rating_function(x):
  if x>40:
    return'Good'
  elif x>20 and x<0.5:
    return'Average'
  else:
    return 'Bad'

In [ ]:

a=df['Rating_category'] = df['365 d % chng'].apply(rating_function)
a
df.head()

                 Open       High  ...    Growth Rating_category
Symbol                            ...
ADANIPORTS        750        766  ...  Negative            Good
ASIANPAINT   3,101.00   3,167.35  ...  Positive            Good
AXISBANK          669      674.9  ...  Negative             Bad
BAJAJ-AUTO   3,370.00   3,383.50  ...  Negative             Bad
BAJAJFINSV  17,200.00  17,237.20  ...  Negative            Good

[5 rows x 14 columns]

In [ ]:
df['Growth'] = df['30 d % chng'].apply(lambda x: 'Positive' if x>0 else 'Negative')
df.head()

                 Open       High  ...    Growth Rating_category
Symbol                            ...
ADANIPORTS        750        766  ...  Negative            Good
ASIANPAINT   3,101.00   3,167.35  ...  Positive            Good
AXISBANK          669      674.9  ...  Negative             Bad
BAJAJ-AUTO   3,370.00   3,383.50  ...  Negative             Bad
BAJAJFINSV  17,200.00  17,237.20  ...  Negative            Good

[5 rows x 14 columns]